:root {
  --white: #fff;
  --light: #f4f4f4;
  --cyan: #509c93;
  --light-gray: #eee;
  --medium-gray: #ddd;
  --gray: #6a6a6a;
  --dark: #444;
  --darker: #222;

  --sans-font: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Segoe UI", sans-serif;
  --display-font: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Segoe UI", sans-serif;
  --mono-font: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', 'Roboto Mono', Menlo, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark light;
    --light: #181818;
    --cyan: #76c7c0;
    --light-gray: #333;
    --medium-gray: #444;
    --gray: #aaa;
    --dark: #ddd;
    --darker: #f4f4f4;
  }
}

html {
  background: var(--white);
  -webkit-text-size-adjust: none;
  font-family: var(--sans-font);
  font-weight: 380;
  font-feature-settings: "ss03" 1, "ss04" 1, "ss0h" 1, "ss06" 1, "ss07" 1, "ss08" 1, "ss09" 1;
  font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: common-ligatures;
}

pre {
  font-family: var(--mono-font);
}

::selection {
  background: var(--medium-gray);
  opacity: 0.3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1000px;
  padding: 0 13px;
  margin: 40px auto;
}

main, footer {
  font-size: 1rem;
  padding: 0;
  line-height: 160%;
}

header h1, h2, h3 {
  font-family: var(--display-font);
}

h2 {
  font-weight: 400;
}

strong {
  font-weight: 500;
}

main h1 {
  padding: 10px 0 10px 0;
}

main h2 {
  font-size: 18px;
}

main h2, h3 {
  padding: 20px 0 15px 0;
}

nav {
  padding: 0.4rem 0 1.5rem 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 20px;
}

nav ul li {
  padding-right: 10px;
  display: inline-block;
}

a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  word-wrap: break-word;
}

a {
  color: var(--darker);
  border-bottom: 1.5px solid var(--medium-gray);
}

a:hover {
  border-bottom: 1.5px solid var(--gray);
}

.index {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 6em 1fr minmax(0, 7em);
  grid-row-gap: 0.5em;
  min-width: 0;
}

.clone-url {
  padding-top: 2rem;
}

.clone-url pre {
  color: var(--dark);
  white-space: pre-wrap;
}

.desc {
  font-weight: normal;
  color: var(--gray);
  font-style: italic;
}

.tree {
  display: grid;
  grid-template-columns: 10ch auto 1fr;
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
  min-width: 0;
}

.log {
  display: grid;
  grid-template-columns: 20rem minmax(0, 1fr);
  grid-row-gap: 0.8em;
  grid-column-gap: 8rem;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1.5px solid var(--medium-gray);
}

.log pre {
  white-space: pre-wrap;
}

.mode, .size {
  font-family: var(--mono-font);
}
.size {
  text-align: right;
}

.readme pre {
  white-space: pre-wrap;
  overflow-x: auto;
}

.readme {
  background: var(--light-gray);
  padding: 0.5rem;
}

.readme ul {
  padding: revert;
}

.readme img {
  max-width: 100%;
}

.diff {
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
  border-bottom: 1.5px solid var(--medium-gray);
}

.diff pre {
  overflow: scroll;
}

.diff-stat {
  padding: 1rem 0 1rem 0;
}

.commit-hash, .commit-email {
  font-family: var(--mono-font);
}

.commit-email:before {
  content: '<';
}

.commit-email:after {
  content: '>';
}

.commit {
  margin-bottom: 1rem;
}

.commit pre {
  padding-bottom: 1rem;
  white-space: pre-wrap;
}

.diff-stat ul li {
  list-style: none;
  padding-left: 0.5em;
}

.diff-add {
  color: green;
}

.diff-del {
  color: red;
}

.diff-noop {
  color: var(--gray);
}

.ref {
  font-family: var(--sans-font);
  font-size: 14px;
  color: var(--gray);
  display: inline-block;
  padding-top: 0.7em;
}

.refs pre {
  white-space: pre-wrap;
  padding-bottom: 0.5rem;
}

.refs strong {
  padding-right: 1em;
}

.line-numbers {
  white-space: pre-line;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: flex;
  float: left;
  flex-direction: column;
  margin-right: 1ch;
}

.file-wrapper {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1rem minmax(0, 1fr);
  gap: 1rem;
  padding: 0.5rem;
  background: var(--light-gray);
  overflow-x: auto;
}

.chroma-file-wrapper {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1rem minmax(0, 1fr);
  overflow-x: auto;
}

.file-content {
  background: var(--light-gray);
  overflow-y: hidden;
  overflow-x: auto;
}

.diff-type {
  color: var(--gray);
}

.commit-info {
  color: var(--gray);
  padding-bottom: 1.5rem;
  font-size: 0.85rem;
}

@media (max-width: 600px) {
  .index {
    grid-row-gap: 0.8em;
  }

  .log {
    grid-template-columns: 1fr;
    grid-row-gap: 0em;
  }

  .index {
    grid-template-columns: 1fr;
    grid-row-gap: 0em;
  }

  .index-name:not(:first-child) {
    padding-top: 1.5rem;
  }

  .commit-info:not(:last-child) {
    padding-bottom: 1.5rem;
  }

  pre {
    font-size: 0.8rem;
  }
}
