{{ define "file" }}
<html>
{{ template "head" . }}
  {{ template "repoheader" . }}
  <body>
    {{ template "nav" . }}
    <main>
      <p>{{ .path }}</p>
      <div class="file-wrapper">
        <div class="line-numbers">
          {{- range .linecount }}
<a id="L{{ . }}" href="#L{{ . }}">{{ . }}</a>
          {{- end -}}
        </div>
        <div class="file-content">
          <span></span>
          <pre>
            {{- .content -}}
          </pre>
        </div>
    </main>
  </body>
</html>
{{ end }}
