{{ define "file" }}
<html>
{{ template "head" . }}
  <title>{{.name }} &mdash; {{ .path }}</title>

  {{ template "repoheader" . }}
  <body>
    {{ template "nav" . }}
    <main>
      <p>{{ .path }}</p>
      <table class="file-wrapper">
        <tbody><tr>
        <td class="line-numbers">
          <pre>
            {{- range .linecount }}
<a id="L{{ . }}" href="#L{{ . }}">{{ . }}</a>
            {{- end -}}
          </pre>
        </td>
        <td class="file-content">
          <pre>
            {{- .content -}}
          </pre>
        </td>
        </tbody></tr>
      </table>
    </main>
  </body>
</html>
{{ end }}
