{{ define "index" }}
<html>
{{ template "head" . }}

  <header>
    <h1>{{ .meta.Title }}</h1>
    <h2>{{ .meta.Description }}</h2>
  </header>
  <body>
    {{ template "nav" . }}
    <main>
      <table>
        <tr>
          <td>repository</td>
          <td>description</td>
          <td>last active</td>
        </tr>
        {{ range .info }}
        <tr>
          <td><a href="/{{ .Name }}">{{ .Name }}</a></td>
          <td>{{ .Desc }}</td>
          <td>{{ .Idle }}</td>
        </tr>
        {{ end }}
      </table>
    </main>
  </body>
</html>
{{ end }}
