{{ define "log" }}
<html>
{{ template "head" . }}

  {{ template "repoheader" . }}
  <body>
    {{ template "nav" . }}
    <main>
      {{ $repo := .name }}
      <div class="log">
        {{ range .commits }}
        <div>
          <div><a href="/{{ $repo }}/commit/{{ .Commit.Hash.String }}" class="commit-hash">{{ slice .Commit.Hash.String 0 8 }}</a></div>
          <pre>{{ .Commit.Message }}</pre>
        </div>
        <div class="commit-info">
          {{ .Commit.Author.Name }} <a href="mailto:{{ .Commit.Author.Email }}" class="commit-email">{{ .Commit.Author.Email }}</a>
          <div>{{ .Commit.Author.When.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</div>
        </div>
        {{ end }}
      </div>
    </main>
  </body>
</html>
{{ end }}
