{{ define "refs" }}
<!DOCTYPE html>
<html>
{{ template "head" . }}

  <body>
    {{ template "repoheader" . }}
    {{ template "nav" . }}
    <main>
      {{ $name := .name }}
      <h3>branches</h3>
      <div class="refs">
      {{ range .branches }}
        <div>
        <strong>{{ .Name.Short }}</strong>
        <a href="/{{ $name }}/tree/{{ .Name.Short }}/">browse</a>
        <a href="/{{ $name }}/log/{{ .Name.Short }}">log</a>
        <a href="/{{ $name }}/archive/{{ .Name.Short }}.tar.gz">tar.gz</a>
        </div>
      {{ end }}
      </div>
      {{ if .tags }}
      <h3>tags</h3>
      <div class="refs">
      {{ range .tags }}
      <div>
      <strong>{{ .Name }}</strong>
      <a href="/{{ $name }}/tree/{{ .Name }}/">browse</a>
      <a href="/{{ $name }}/log/{{ .Name }}">log</a>
      <a href="/{{ $name }}/archive/{{ .Name }}.tar.gz">tar.gz</a>
      {{ if .Message }}
      <pre>{{ .Message }}</pre>
      </div>
      {{ end }}
      {{ end }}
      </div>
      {{ end }}
    </main>
  </body>
</html>
{{ end }}
